<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock-Paper-Scissors</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
</head>
<body>
    <h1>Rock-Paper-Scissors</h1>
    <p>Welcome, {{ username }}! You are in room: {{ room }}</p>
    <div>
        <button onclick="play('rock')">Rock</button>
        <button onclick="play('paper')">Paper</button>
        <button onclick="play('scissors')">Scissors</button>
    </div>
    <div id="result">
        <p id="player1"></p>
        <p id="player2"></p>
        <p id="gameResult"></p>
    </div>

    <script>
        const socket = io();
        const username = "{{ username }}";
        const room = "{{ room }}";

        socket.emit('join', {username: username, room: room});

        function play(move) {
            socket.emit('play', {username: username, move: move, room: room});
        }

        socket.on('message', function(data) {
            console.log(data.msg);
        });

        socket.on('result', function(data) {
            const player1Text = `${data.player1} played ${data.move1}`;
            const player2Text = `${data.player2} played ${data.move2}`;
            const resultText = `Result: ${data.result}`;

            document.getElementById('player1').innerText = player1Text;
            document.getElementById('player2').innerText = player2Text;
            document.getElementById('gameResult').innerText = resultText;
        });
    </script>
</body>
</html>
